@font-face {
  font-family: 'Sawarabi Gothic';
  src: url('../fonts/SawarabiGothic/SawarabiGothic-Regular.eot');
  src: url('../fonts/SawarabiGothic/SawarabiGothic-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SawarabiGothic/SawarabiGothic-Regular.woff2') format('woff2'),
      url('../fonts/SawarabiGothic/SawarabiGothic-Regular.woff') format('woff'),
      url('../fonts/SawarabiGothic/SawarabiGothic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/NotoSansJP/NotoSansJP-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/NotoSansJP/NotoSansJP-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/NotoSansJP/NotoSansJP-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/NotoSansJP/NotoSansJP-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/NotoSansJP/NotoSansJP-Regular.otf') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/NotoSansJP/NotoSansJP-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}