@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/NotoSansJP/NotoSansJP-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/NotoSansJP/NotoSansJP-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/NotoSansJP/NotoSansJP-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/NotoSansJP/NotoSansJP-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/NotoSansJP/NotoSansJP-Regular.otf') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/NotoSansJP/NotoSansJP-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Contrail One';
  src: url('ContrailOne-Regular.eot');
  src: url('ContrailOne-Regular.eot?#iefix') format('embedded-opentype'),
      url('ContrailOne-Regular.woff2') format('woff2'),
      url('ContrailOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.contrail {
  font-family: 'Contrail One';
}